<log4net>

  <!-- Logs errors to EventLog -->
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <applicationName value="samroxx" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %logger [%thread]%newline%message" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White, HighIntensity" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="White" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%5level %date{HH:mm:ss} [%2thread] %20.20logger - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="ColoredConsoleAppender" />
  </root>

</log4net>